name: Build RPCS3

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  BUILD_REPOSITORY_NAME: ${{ github.repository }}
  BUILD_SOURCEBRANCHNAME: ${{ github.ref_name }}
  BUILD_PR_NUMBER: ${{ github.event.pull_request.number }}
  BUILD_SOURCEVERSION: ${{ github.sha }}
  BUILD_ARTIFACTSTAGINGDIRECTORY: ${{ github.workspace }}/artifacts/

jobs:
  Linux_Build:
    # Always run on your fork
    if: github.event_name != 'push' || (github.repository == 'hughesjonathan181-creator/rpcs3' && github.ref_name == 'master')

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            docker_img: "rpcs3/rpcs3-ci-jammy:1.7"
            build_sh: "/rpcs3/.ci/build-linux.sh"
            compiler: clang

          - os: ubuntu-latest
            docker_img: "rpcs3/rpcs3-ci-jammy:1.7"
            build_sh: "/rpcs3/.ci/build-linux.sh"
            compiler: gcc

    name: RPCS3 Linux ${{ matrix.compiler }}
    runs-on: ubuntu-latest

    env:
      CCACHE_DIR: ${{ github.workspace }}/ccache
      DEPLOY_APPIMAGE: true
      APPDIR: "/rpcs3/build/appdir"
      ARTDIR: "/root/artifacts"
      COMPILER: ${{ matrix.compiler }}
      RUN_UNIT_TESTS: ${{ github.event_name == 'pull_request' && 'ON' || 'OFF' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore build Ccache
        uses: actions/cache/restore@v4
        id: restore-build-ccache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: Linux-ccache-${{ matrix.compiler }}-${{ github.run_id }}
          restore-keys: Linux-ccache-${{ matrix.compiler }}-

      - name: Docker setup and build
        run: |
          docker pull --quiet ${{ matrix.docker_img }}
          docker run \
            -v $PWD:/rpcs3 \
            --env-file .ci/docker.env \
            -v ${{ env.CACHE_DIR }}:/root/.ccache \
            -v ${{ env.BUILD_ARTIFACTSTAGINGDIRECTORY }}:${{ env.ARTDIR }} \
            ${{ matrix.docker_img }} \
            ${{ matrix.build_sh }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: RPCS3 Linux (${{ matrix.compiler }})
          path: ${{ env.BUILD_ARTIFACTSTAGINGDIRECTORY }}/*.AppImage
          compression-level: 0

      - name: Save build Ccache
        uses: actions/cache/save@v4
        if: github.ref == 'refs/heads/master'
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.restore-build-ccache.outputs.cache-primary-key }}
